#box1 {
	background-image: url("resources/front.jpg");
	background-size: cover;
}

.asterisk {
	color: red;
}

.border {
	border: 1px solid black;
}

#admin_page {
	background-image: url("resources/admin_page.jpg");
	background-size: cover;
}
#admin_box {
	margin: 1% 0 0 43%;
}

#navid {
	position: absolute;
}

#pagerestro {
	background-image: url("resources/page_restro.jpg");
	background-size: cover;
}

.foodpic {
	height: 200px;
}

#register_Background {
	background-image: url("resources/register-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
#addRestro {
	background-color: rgb(203, 108, 106);
}
#result {
	margin-left: 35%;
}

.card-img-top {
	width: 100%;
	height: 19vw;
	object-fit: cover;
}
